@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Form for student information -->
<form action="/Index" class="text-center Overlay" id="studentForm" onsubmit="saveInfo(event)">
    <div class="card">
        <!-- TITLE -->
        <span class="singup">Student Information</span>
        <!-- END OF TITLE -->
        <div class="inputBox1">
            <input type="text" required="required" id="first_name">
            <span class="user">First Name</span>
        </div>

        <div class="inputBox">
            <input type="text" required="required" id="last_name">
            <span>Last Name</span>
        </div>

        <div class="inputBox">
            <input type="text" required="required" id="id_number">
            <span>ID Number</span>
        </div>

        <!-- GENDER RADIO BUTTONS -->
        <div class="Gender_choice">
            <span class="title">Gender</span>
            <div>
                <label class="radio-button">
                    <input type="radio" name="radio" class="input" value="Male">
                    <span class="radio"></span>
                    Male
                </label>

                <label class="radio-button">
                    <input type="radio" name="radio" class="input" value="Female">
                    <span class="radio"></span>
                    Female
                </label>
            </div>
        </div>

        <!-- COURSE RADION BUTTONS -->
        <div class="Course">
            <span class="title">Courses Done</span>
            <div class="Course_radio">
                <label class="radio-button">
                    <input type="radio" name="radio1" class="input" value="BSD">
                    <span class="radio"></span>
                    BSD
                </label>
                <label class="radio-button">
                    <input type="radio" name="radio1" class="input" value="BIT">
                    <span class="radio"></span>
                    BIT
                </label>
                <label class="radio-button">
                    <input type="radio" name="radio1" class="input" value="BISF">
                    <span class="radio"></span>
                    BSIF
                </label>
                <label class="radio-button">
                    <input type="radio" name="radio1" class="input" value="BBIT">
                    <span class="radio"></span>
                    BBIT
                </label>
            </div>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn-53">
            <div class="original">Submit</div>
            <div class="letters">
                <span>S</span>
                <span>U</span>
                <span>B</span>
                <span>M</span>
                <span>I</span>
                <span>T</span>
            </div>
        </button>
    </div>
</form>

<!-- The div below demos the data requested to the mongoDB server -->
<div id="displayData"></div>


